<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <title>Contacts</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
   
    <script src="~/Scripts/Angular/app.js"></script>
    <script src="~/Scripts/Angular/mainController.js"></script>
    <script src="~/Scripts/Angular/MainService.js"></script>
    <script src="~/Scripts/Angular/editController.js"></script>
    <script src="~/Scripts/Angular/GetSingleContactService.js"></script>
    <script src="~/Scripts/Angular/createNewController.js"></script>
    <script src="~/Scripts/Angular/searchController.js"></script>
    <script src="~/Scripts/Angular/SearchService.js"></script>
</head>
<body>

    <header>
        <div class="nav">
            <ul>
                <li class="home"><a ng-href="#/">Home</a></li>
                <li class="about"><a ng-href="#/createNew">Create New</a></li>
                <li class="news"><a ng-href="#/search">Search</a></li>
        
            </ul>
        </div>
    </header>

    <div id="main">

        <!-- angular templating -->
        <!-- this is where content will be injected -->
        <div ng-view>

        </div>

    </div>
    @RenderBody()

</body>
</html>
