

 <div class="container">
     
     <div class="jumbotron col-lg-8 col-lg-offset-2">

         <div class="form-group">
             <label for="name">Name</label>
             <input class="form-control" id="name" name="name" data-ng-model="contact.Name">
         </div>


         <div class="form-group">
             <label for="description">LastName</label>
             <input class="form-control" id="lastname" name="lastname" data-ng-model="contact.LastName">
         </div>

         <div class="form-group">
             <label for="name">Address</label>
             <input class="form-control" id="Address" name="Address" data-ng-model="contact.Address">
         </div>

         <h5>Tags</h5>
         <table>
             <tr>
                 <td><input ng-repeat="field in table.fields track by $index" type='text' ng-model='table.fields[$index]' placeholder='Tag:'></td>
             </tr>
         </table>
         <div>

             <button class="btn btn-primary" ng-click="addFormField()">Add New Tag</button>
         </div>
         <h5>Emails</h5>
         <table>
             <tr>
                 <td><input ng-repeat="field in emails.fields track by $index" type='text' ng-model='emails.fields[$index]' placeholder='Email:'></td>
             </tr>
         </table>
         <div>

             <button class="btn btn-primary" ng-click="addEmailField()">Add New Email</button>
         </div>

         <h5>Phones</h5>
         <table>
             <tr>
                 <td><input ng-repeat="field in phones.fields track by $index" type='text' ng-model='phones.fields[$index]' placeholder='PhoneNumber:'></td>
             </tr>
         </table>
         <div>

             <button class="btn btn-primary" ng-click="addPhoneField()">Add New PhoneNumber</button>
         </div>


         <br>
         <br>
         <button class="btn btn-primary" type="submit" value="Add Contact" data-ng-click="saveContact()">Add Contact</button>

     </div></div>
              
 