<!-- home.html -->

   
        <div   ng-repeat="contact in contacts">
            <div class="jumbotron text-center">
            <h3>{{contact.Name}} {{contact.LastName}} </h3>
    
            <div ng-repeat="phone in contact.PhoneNumbers" ng-class="{show: show}">
                <p>
                    {{phone.Number}}
                </p>
            </div>


            <div ng-repeat="email in contact.Emails" ng-class="{show: show}">
                <p>
                    {{email.email}}
                </p>
            </div>

            <a ng-href="#/edit/{{contact.ContactId}}">Edit contact</a>
            <a data-ng-click="delete(contact.ContactId)" href="javascript:;">Delete Contact</a>
       </div>
        
</div>
